:root{
    --bg-light:#fafafa;
    --bg-dark-blue:#2b3945;
    --bg-dark:#202c37;
    --text-light: #111517;
    --text-dark: #ffffff;
    --transition:0.1s;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all ease-in-out var(--transition);
    font-family: 'Nunito Sans', sans-serif;
}
.app{
    background: var(--bg-light);
    color: var(--text-light);
    min-height: 100vh;
 
  
}
.app.dark{
    background: var(--bg-dark);
    color: var(--text-dark);
}
